Githubtest/Githubtest/Githubtest.vcxproj.filters
Githubtest/Githubtest/Githubtest.vcxproj
Githubtest/Githubtest/Debug/vc141.idb
Githubtest/Githubtest/Debug/Githubtest.tlog/link.write.1.tlog
Githubtest/Githubtest/Debug/Githubtest.tlog/link.read.1.tlog
Githubtest/Githubtest/Debug/Githubtest.tlog/link.command.1.tlog
Githubtest/Githubtest/Debug/Githubtest.tlog/Githubtest.lastbuildstate
Githubtest/Githubtest/Debug/Githubtest.tlog/CL.write.1.tlog
Githubtest/Githubtest/Debug/Githubtest.tlog/CL.read.1.tlog
Githubtest/Githubtest/Debug/Githubtest.tlog/CL.command.1.tlog
Githubtest/Githubtest.sln
Githubtest/.vs/Githubtest/v15/ipch/AutoPCH/817c4ddcad49d3a0/MAIN.ipch
Githubtest/.vs/Githubtest/v15/Browse.VC.opendb
Githubtest/.vs/Githubtest/v15/Browse.VC.db
